/*----------------------------------
	General
------------------------------------*/
@font-face {
font-family: "Titles";
src: url(../fonts/marchila.otf);
}
h1, h2, h3, h4, h5, h6 {
font-family: "Titles" !important;
}
p, a, li {
font-family: 'Raleway', serif;
}
body {
position: relative;
background-color:#222;
overflow-x: hidden !important;
}
html {
overflow: hidden;
position: relative;
overflow-x: hidden !important;
}
/* Scroll icon */
.scroll {
	display: block;
	width: 18px;
}
.scroll_arrow {
	display: block;
	height: 10px;
	animation: downarrow 2.5s infinite;
}
@keyframes downarrow {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 0;
	}
	50% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 0;
	}
}
#cintillo {
opacity:0;
transition-duration: .5s;
}
#cintillo.cintillo-scrolled {
opacity:1 !important;
transition-duration: .5s;
}
.invitado {
padding: 5px 0;
width:100%;
position: fixed;
top: 0;
z-index:10;
}
.efecto-derecha {
right: -800px !important;
transition: all 3s;
position: absolute;
}
.efecto-izquierda {
left: -800px !important;
transition: all 3s;
position: absolute;
}
@media (min-width: 769px) {
#body {
width:30%;
position: relative;
margin: 0 auto;
background-color:#222;
}
.invitado {
padding: 5px 0;
width:50%;
position: fixed;
top: 0;
z-index:10;
}

.bg-invitacion::after {
    position: fixed;
    z-index: -1;
	top: 0;
    right: 35%;
    width: 30%;
    height: 100vh;
    background-image: url(../img/background-mob.jpg);
	background-size: cover;
	background-position: center;
	content: ''; 
}
.sobre-izquierdo {
position: absolute;
left: 0;
top: 0;
bottom:0;
margin: auto;
width:100%;
}
.sobre-derecho {
position: absolute;
right: 0;
width:100%;
}
.sello {
position: absolute;
width: 120px;
top: 47%;
left: 40%;
}
.video_background { 
	position: fixed;
	width: 30%;
	z-index: -100; 
	overflow: hidden;
	left: 35%;
	transform: translate(-58.4%);
    -webkit-transform: translate(-58.4%);
	margin: 0 auto;
	right: 0;
	top:0;
	bottom:0;
}
}
@media (max-width: 768px) {
.bg-invitacion::after {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/background-mob.jpg);
	background-size: cover;
	background-position: center;
	content: ''; 
}
.sobre-izquierdo {
position: absolute;
left: 0;
top: 0;
bottom:0;
margin: auto;
height:100%;
}
.sobre-derecho {
position: absolute;
right: 0;
top: 0;
height:100%;
}
.sello {
position: absolute;
width: 120px;
top: 45%;
left: 40%;
}
.video_background { 
	position: fixed;
	height: 100vh;
	z-index: -100; 
	overflow: hidden;
	left: 50%;
	transform: translate(-50%);
    -webkit-transform: translate(-50%);
	margin: 0 auto;
	right: 0;
	top:0;
	bottom:0;
}
}

.color-principal {
background: linear-gradient(to right,  #b4882d 0%,#dbce8f 100%);
}
.color-titulos {
background: linear-gradient(to right,  #b4882d 0%,#dbce8f 100%);
-webkit-background-clip: text;
color: transparent;
padding: 5px 0 !important;
}
.border-qr {
border: solid 1px #F2B0BF;
}
.color-textos {
color:#292929;
}
.padding-section {
padding: 50px 0;
position: relative;
}
.padding-contador {
padding: 350px 0 40px 0;
}
.padding-final {
padding: 450px 0 40px 0;
}
.texto-invitacion {
color:# !important;
}
.mb-0 {
margin-bottom: 0 !important;
}
.mb-10 {
margin-bottom: 10px !important;
}
.mb-20 {
margin-bottom: 20px !important;
}
.mb-30 {
margin-bottom: 30px !important;
}
.mb-40 {
margin-bottom: 40px !important;
}
.mb-50 {
margin-bottom: 50px !important;
}
.mb-60 {
margin-bottom: 60px !important;
}
.mb-70 {
margin-bottom: 70px !important;
}
.mb-80 {
margin-bottom: 80px !important;
}
.mb-90 {
margin-bottom: 90px !important;
}
.mb-90 {
margin-bottom: 100px !important;
}
.titulo {
font-size: 30px;
}
.titulo-insta {
font-size: 28px;
font-family: 'Raleway', serif !important;
}
a, p, li {
font-size: 18px;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #fff;
}
::-webkit-scrollbar-track{
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    background-color: #F2B0BF;
}

.owl-fotos .owl-nav.disabled + .owl-dots {
margin-top: 40px; }
.owl-fotos .owl-dots {
text-align: center;
-webkit-tap-highlight-color: transparent; }
.owl-fotos .owl-dots .owl-dot {
display: inline-block;
zoom: 1;
*display: inline; }
.owl-fotos .owl-dots .owl-dot span {
 width: 8px;
 height: 8px;
 margin: 5px 5px;
 background: #999;
 display: block;
 border-radius: 50%;
 -webkit-backface-visibility: visible;
 transition: opacity 200ms ease; }
.owl-fotos .owl-dots .owl-dot.active span, .owl-fotos .owl-dots .owl-dot:hover span {
background: linear-gradient(to right,  #b4882d 0%,#dbce8f 100%); }
.footer {
background-color:#222;
padding: 20px 0;
z-index: 100;
position: relative;
}
.footer p {
font-size: 14px;
}
.circulo-imagen {
width: 200px;
height: 200px;
background-size: cover;
background-position: center;
border-radius: 50%;
}
.bg-img {
background-position: center;
background-size: cover;

}
.sombra {
text-shadow: #000 0.05em 0.05em 0.05em;
}
.bg-overlay{position:relative;z-index:1;}
.bg-overlay::after{position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.50;content:'';}
.bg-overlay-contador{position:relative;z-index:1;}
.bg-overlay-contador::after{position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%;background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.65) 100%);content:'';}
/*----------------------------------
	Banner
------------------------------------*/
.banner-principal {
padding: 40px 0;
border-bottom: 2px solid #F2B0BF;
}
.banner-principal h1{
font-size: 40px;
}

/*----------------------------------
	Timer
------------------------------------*/

ul.tiempo {
  margin: 0;
  padding: 0;
  text-align: center;
  
}
.tiempo li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  color: #fff;
  text-shadow: #000 0.05em 0.05em 0.05em;
  padding: 0 15px;
  font-size: 18px;
  
}

.tiempo li span {
  display: block;
  
}
.circulo-tiempo {
  list-style-type: none;
  margin: 0;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  background: linear-gradient(to right,  #b4882d 0%,#dbce8f 100%);
  width: 50px;
  height: 50px;
  display: flex;
  padding-top: 15px;
  font-family: "Titles" !important;
  text-shadow: none !important;
  line-height: 25px;
}
.texto-izq {
font-weight: 700 !important;
font-size: 20px !important;

}
.texto-fecha {
font-weight: 700 !important;
font-size: 21px !important;

}
.titulo-fecha {
font-size: 60px !important;
margin-bottom: 0;
line-height: 70px;
margin-top: -20px !important;
}
/*----------------------------------
  Form
------------------------------------*/
.form-campo {
background: rgba(255,255,255,0.3);
width: 100%;
border: 1px solid #F2B0BF;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
color:#000;
border-radius: 15px;
font-family: 'Raleway', serif;
}

.form-campo::-webkit-input-placeholder {
  color: #000;
}

.form-campo::-moz-placeholder {
  color: #000;
}

.form-campo:-ms-input-placeholder {
  color: #000;
}

.form-campo::placeholder {
  color: #000;
}

.form-campo:focus {
  font-weight: 400;
  color: #000;
}

.form-campo:focus::-webkit-input-placeholder {
  color: #000;
}

.form-campo:focus::-moz-placeholder {
  color: #000;
}

.form-campo:focus:-ms-input-placeholder {
  color: #000;
}

.form-campo:focus::placeholder {
  color: #000;
}

button.btn-form {
color:#fff;
font-size: 14px;
font-family: 'Raleway', serif;
padding: 10px 40px;
border: 1px solid #F2B0BF;
text-decoration: none;
letter-spacing: 1px;
border-radius: 30px;
background: linear-gradient(to right,  #b4882d 0%,#dbce8f 100%);
}
button.btn-form:hover {
background: linear-gradient(to right,  #b4882d 0%,#dbce8f 100%);
border: 1px solid #F2B0BF;
color:#fff;
transition-duration: .2s;
}
/*----------------------------------
  Intro
------------------------------------*/
.bg-overlay-intro{position:relative;z-index:1;}
.bg-overlay-intro::after{position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%;background-color:#fff; opacity: .6; content:'';}
.bg-intro {
background-image: url(../img/background-mob.jpg);
background-size: cover;
background-position: center;
background-color:#222;
}
#intro {
width:100%;
height:100vh;
z-index:99999999;
position: absolute;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
}
#intro h1 {
margin-top:-50px !important;
font-size: 80px !important;
}
.link-abrir {
color:#fff;
font-size: 14px;
padding: 10px 40px;
text-decoration: none;
letter-spacing: 1px;
border-radius: 30px;
}
.link-abrir:hover {
color:#fff;
}
.desaparecer {
visibility: hidden;
opacity: 0;
transition: all 3s;
}
.con-scroll {
overflow-y: scroll;
}
.particles {
  position:absolute;
  top:-100px;
  left: 10px;
  right: 10px;
  height: 1100px;
}
.particles {
    left: 10px;
    right: 10px;
    height: 1100px
}

.particles .particle {
    position: absolute;
    opacity: 1;
    background: rgba(255,255,255,.3);
    -webkit-animation-iteration-count: infinite!important;
    animation-iteration-count: infinite!important
}

.particle:nth-child(1) {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    -webkit-animation: floating 28s linear;
    animation: floating 28s linear;
    top: 65%;
    left: 10%
}

.particle:nth-child(2) {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    -webkit-animation: floating 35s linear;
    animation: floating 35s linear;
    top: 15%;
    left: 33%
}

.particle:nth-child(25),
.particle:nth-child(3) {
    -webkit-animation: floating 28s linear;
    border-radius: 100%
}

.particle:nth-child(3) {
    height: 21px;
    width: 21px;
    animation: floating 28s linear;
    top: 48%;
    left: 36%
}

.particle:nth-child(4) {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    -webkit-animation: floating 25s linear;
    animation: floating 25s linear;
    top: 85%;
    left: 75%
}

.particle:nth-child(5) {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    -webkit-animation: floating 32s linear;
    animation: floating 32s linear;
    top: 36%;
    left: 78%
}

.particle:nth-child(6) {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    -webkit-animation: floating 23s linear;
    animation: floating 23s linear;
    top: 87%;
    left: 18%
}

.particle:nth-child(7) {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    -webkit-animation: floating 36s linear;
    animation: floating 36s linear;
    top: 63%;
    left: 78%
}

.particle:nth-child(8) {
    height: 17px;
    width: 17px;
    border-radius: 100%;
    -webkit-animation: floating 27s linear;
    animation: floating 27s linear;
    top: 35%;
    left: 76%
}

.particle:nth-child(9) {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    -webkit-animation: floating 31s linear;
    animation: floating 31s linear;
    top: 20%;
    left: 70%
}

.particle:nth-child(10) {
    height: 13px;
    width: 13px;
    border-radius: 100%;
    -webkit-animation: floating 32s linear;
    animation: floating 32s linear;
    top: 42%;
    left: 23%
}

.particle:nth-child(11) {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    -webkit-animation: floating 30s linear;
    animation: floating 30s linear;
    top: 62%;
    left: 17%
}

.particle:nth-child(12) {
    height: 13px;
    width: 13px;
    border-radius: 100%;
    -webkit-animation: floating 29s linear;
    animation: floating 29s linear;
    top: 9%;
    left: 63%
}

.particle:nth-child(13) {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    -webkit-animation: floating 21s linear;
    animation: floating 21s linear;
    top: 14%;
    left: 30%
}

.particle:nth-child(14) {
    height: 11px;
    width: 11px;
    border-radius: 100%;
    -webkit-animation: floating 34s linear;
    animation: floating 34s linear;
    top: 29%;
    left: 33%
}

.particle:nth-child(15) {
    height: 17px;
    width: 17px;
    border-radius: 100%;
    -webkit-animation: floating 23s linear;
    animation: floating 23s linear;
    top: 68%;
    left: 31%
}

.particle:nth-child(16) {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    -webkit-animation: floating 21s linear;
    animation: floating 21s linear;
    top: 29%;
    left: 57%
}

.particle:nth-child(17) {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    -webkit-animation: floating 32s linear;
    animation: floating 32s linear;
    top: 49%;
    left: 21%
}

.particle:nth-child(18) {
    height: 7px;
    width: 7px;
    border-radius: 100%;
    -webkit-animation: floating 37s linear;
    animation: floating 37s linear;
    top: 35%;
    left: 94%
}

.particle:nth-child(19) {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    -webkit-animation: floating 35s linear;
    animation: floating 35s linear;
    top: 42%;
    left: 33%
}

.particle:nth-child(20) {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    -webkit-animation: floating 35s linear;
    animation: floating 35s linear;
    top: 94%;
    left: 20%
}

.particle:nth-child(21) {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    -webkit-animation: floating 37s linear;
    animation: floating 37s linear;
    top: 7%;
    left: 23%
}

.particle:nth-child(22) {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    -webkit-animation: floating 34s linear;
    animation: floating 34s linear;
    top: 49%;
    left: 33%
}

.particle:nth-child(23) {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    -webkit-animation: floating 29s linear;
    animation: floating 29s linear;
    top: 82%;
    left: 58%
}

.particle:nth-child(24) {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    -webkit-animation: floating 32s linear;
    animation: floating 32s linear;
    top: 60%;
    left: 90%
}

.particle:nth-child(25) {
    height: 25px;
    width: 25px;
    animation: floating 28s linear;
    top: 53%;
    left: 85%
}

.particle:nth-child(26) {
    height: 23px;
    width: 23px;
    border-radius: 100%;
    -webkit-animation: floating 28s linear;
    animation: floating 28s linear;
    top: 63%;
    left: 94%
}

@keyframes floating {
    0% {
        -webkit-transform: translate(0, 0) scale(.5);
        transform: translate(0, 0) scale(.5);
        opacity: 0
    }
    5% {
        opacity: .4
    }
    50% {
        -webkit-transform: translate(0, -250px) scale(1.4);
        transform: translate(0, -250px) scale(1.4)
    }
    95% {
        opacity: 0
    }
    100% {
        -webkit-transform: translate(0, -500px) scale(.5);
        transform: translate(0, -500px) scale(.5)
    }
}

.timeline-container {
  display: flex;
  justify-content: center;
}
.timeline-container .vertical-scrollable-timeline {
  width: 100%;
  list-style-type: none;
  position: relative;
}
.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 100%;
  background-color: #F2B0BF;
  position: absolute;
  left: 53px;
  top: 0;
  overflow: hidden;
}
.timeline-container .vertical-scrollable-timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #c5c3cb;
  width: 100%;
}
.timeline-container .vertical-scrollable-timeline li {
  position: relative;
  padding: 0px 0px 80px 100px;
}
.timeline-container .vertical-scrollable-timeline li:last-child {
  margin-bottom: 0;
}
.timeline-container .vertical-scrollable-timeline li p:last-child {
  margin-bottom: 0;
}
.timeline-container .vertical-scrollable-timeline li .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c3cb;
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}
.timeline-container .vertical-scrollable-timeline li .icon-holder::before {
  content: "";
  width: 100px;
  height: 100px;
  border: 4px solid #fff;
  position: absolute;
  background-color: #c5c3cb;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}
.timeline-container .vertical-scrollable-timeline li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: transparent;
  left: 48px;
  z-index: 0;
}
.timeline-container .vertical-scrollable-timeline li:last-child::before {
  width: 58px;
  left: 48px;
}
.timeline-container .vertical-scrollable-timeline li.active .icon-holder {
  background-color: #F2B0BF;
}
.timeline-container .vertical-scrollable-timeline li.active .icon-holder img {
  filter: invert(100%);
}
.timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
  background-color: #F2B0BF;
}